/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 142; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
      /* HSL color mode */
     --first-color-second: hsl(var(--hue-color), 30%, 8%);
     --title-color: hsl(var(--hue-color), 8%, 95%);
     --text-color: hsl(var(--hue-color), 8%, 75%);
     --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
     --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);     
      --input-color: hsl(var(--hue-color), 29%, 16%);
      --body-color: hsl(var(--hue-color), 28%, 12%);
      --container-color: hsl(var(--hue-color), 29%, 16%);
}

/*========== Button Dark/Light ==========*/
.nav-bnts{
  display: flex;
  align-items: center;
}
.change-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}
.change-theme:hover{
  color: var(--first-color);
}
/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav-toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav__logo > img{
  width: 30px;
  height: 30px;
}
.nav__logo:hover{
  color: var(--first-color-alt);
}
.nav-toggle{
  font-size: 1.1rem;
  cursor: pointer;
}
.nav-toggle:hover{
  color: var(--first-color-alt);
}
@media  screen and (max-width:767px) {
  .nav_menu{
     position: fixed;
     bottom: -100%;
     left: 0;
     width: 100%;
     background-color: #fff;
     padding: 2rem 1.5rem 4rem;
     box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
     border-radius: 1.5rem 1.5rem 0 0;
     transition: .3s;
  }
}

.nav-list{
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-link{
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  flex-direction: column;
}
.nav-link:hover{
  color: var(--first-color-alt);
}

.nav-icon{
  font-size: 1.2rem;
}

.nav_close{
   position: absolute;
   right: 1.3rem;
   bottom: .5rem;
   font-size: 1.5rem;
   color: var(--first-color);
   cursor: pointer;
  /* opacity: 0; */
  
}

.nav_close:hover{
  color: var(--first-color-alt);
}
/* show menu */
.show-menu{
  bottom: 0;
}

/* Active link */
.active-links{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/*==================== HOME ====================*/
.home_container{
  gap: 1rem;
}
.home_content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}
.home_social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.home_social-icons{
  font-size: 1.25rem;
  color: var(--first-color);
}
.home_social-icons:hover{
  color: var(--first-color-alt);
}
.home_blob{
  width: 200px;
  fill: var(--first-color);
}
.home_blob-img{
  width: 170px;
}
.home_data{
  grid-column: 1/3;
}
.title{
  font-size: var(--big-font-size);
}
.subtitle{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}
.home_discriptio{
  margin-bottom: var(--mb-2);
}
#home_scroll{
  display: none;
}
.home_scroll-button{
  color: var(--first-color);
  transition: .3s;
}
.home_scroll-button:hover{
  transform: translateY(.25rem);
}
.home_scroll-mouse{
  font-size: 2rem;
}
.home_scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}
.home_scroll-arrow{
  font-size: 1.2rem;
}
/*==================== BUTTONS ====================*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}
.button:hover{
  color: var(--first-color-alt);
}
.button-icon{
   font-size: 1.2rem;
   margin-left: var(--mb-0-5);
   transition: .3s;
}
.button--flex{
  display: inline-flex;
  align-items: center;
}
.button--small{
  padding: .75rem 1rem;
}
.button--link{
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}
.button--link:hover{
  background-color: transparent;
  color: var(--first-color-alt);
}
.button--white{
  background-color: #fff;
  color: var(--first-color);
}
.button--white:hover{
  background-color: #fff;
}
/*==================== ABOUT ====================*/
.about-img{
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
  align-items: center;
}
.about_description{
  text-align: center;
  margin-bottom: var(--mb-2-5);
}
.abouttext{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-info{
  display: inline-block;
  /* flex-direction: row; */
  margin-left: 60px;
 justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}
.about_info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.about_info-name{
  font-size: var(--smaller-font-size);
}
.about_info-title,
.about_info-name{
  display: block;
  text-align: center;
}
.about-buttons{
  display: flex;
  justify-content: center;
}

/*==================== SKILLS ====================*/
.skills_container{
  row-gap: 0;
}
.skills-header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  margin-top: var(--mb-2-5);
  cursor: pointer;
}
.skill-arrow,
.skills-icon{
  font-size: 2rem;
  color: var(--first-color);
}
.skills-icon{
  margin-right: var(--mb-0-75);
}
.skills-title{
  font-size: var(--h3-font-size);
}
.skills-subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.skill-arrow{
  margin-left: auto;
  transition: .4s;
}
.skills-titles{
  display: flex;
  margin-bottom: var(--mb-0-5);
  justify-content: space-between;
}
.skills-name{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  
}
.skills-list{
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}
.skills-bar,
.skills-percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills-percentage{
  background-color: var(--first-color);
  display: block;
}
.skill_html{
  width: 90%;
}
.skill_css{
  width: 80%;
}
.skill_js{
  width: 60%;
}
.skill_react{
  width: 40%;
}
.skill_wdp{
  width: 70%;
}
.skill_canva{
  width: 90%;
}
.skill_fbads{
  width: 70%;
}
.skill_vde{
  width: 60%;
}
.skill_contentwr{
  width: 40%;
}
.skill_ps{
  width: 80%;
}
.skill_ill{
  width: 70%;
}
.skill_figma{
  width: 60%;
}
.skills-close .skills-list{
  height: 0;
  overflow: hidden;
}
.skills-open .skills-list{
  height: max-content;
  margin-bottom: var(--mb-2-5);
}
.skill-title-subtitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills-open .skill-arrow{
  transform: rotate(-180deg);
}
/*==================== QUALIFICATION ====================*/
.qulification-tabs{
  display: flex;
 justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}
.qulification-button{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}
.qulification-button:hover{
  color: var(--first-color);
}
.qualification-icons{
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}
.qulification-data {
 display: flex ;
 grid-template-columns: 1fr;
 column-gap: 1.5rem;
}


.qulification-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
}

.qulification-subtitle{
  display: inline-block;
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-1);
}
.qulification-calender{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
.qulification-rounder{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--first-color);
  border-radius: 50%;
  margin-right: var(--mb-1);
}
.qulification-line{
  display: flex;
  width: 2px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px , -7px);
}

.data-content {
  display: none;
}

.qulification-active {
  display: block;
}


/*==================== SERVICES ====================*/
.services-container{
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.services-content{
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem .5rem 1.25rem 1.5rem;
  border-radius: .25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  transition: .3s;
}
.services-content:hover{
  box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
}

.services-icon{
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}
.services-title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}
.services_button{
  cursor: pointer;
  font-size: var(--small-font-size);
}

.services_button:hover .button-icon{
  transform: translateX(.25rem);
}
.services-modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.services-modal-content{
  position: relative;
  padding: 3rem;
  background-color: var(--container-color);
  border-radius: 1rem;
}

.servies-modal-services{
  row-gap: 1rem;
}

.services-modal-service{
  display: flex;
}

.services-modal-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}
.services-modal-close{
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  color: var(--first-color);
  font-size: 1.5rem;
  position: absolute;
}
.services-modal-icon{
  color: var(--first-color);
  margin-right: var(--mb-0-25);
}
/* Active Modal */
.active-modal{
  opacity: 1;
  visibility: visible;
}

/*==================== PORTFOLIO ====================*/
.portfolio-container{
  overflow: initial;
}
.portfolio-content{
  padding: 0 1.5rem;
}
.porfolio-img{
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}
.portfolio-title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}
.portfolio-descriptio{
  margin-bottom: var(--mb-0-75);
}
.portfolio_button:hover .button-icon{
  transform: translateX(.3rem);
}
.swiper-button-next::after,
.swiper-button-prev::after{
  content: '';
}
.swiper-portfolio-icon{
  font-size: 3rem;
  color: var(--first-color);
}
.swiper-button-next{
  right: -.5rem;
}
.swiper-button-prev{
  left: -.5rem;
}
.swiper-pagination-bullets{
  bottom: -2.5rem;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet{
  outline: none;
}
.swiper-pagination-bullet-active{
  background-color: var(--first-color);
} 

/*==================== PROJECT IN MIND ====================*/
.project{
  text-align: center;
}
.project-bg{
  background-color: var(--first-color-second);
  padding-top: 3rem;
}
.project-title{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-75);
}
.project-description{
  margin-bottom: var(--mb-1-5);
}
.project-title,
.project-description{
  color: #fff;
}
.project-img{
  width: 232px;
  justify-self: center;
}
/*==================== TESTIMONIAL ====================*/
.testimonial-data,
.testimonial-header{
  display: flex;
}
.testimonial-data{
  justify-content: space-between;
  margin-bottom: var(--mb-1);
}
.testimonial-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: var(--mb-0-75);
}
.testimonial-name{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.testimonial-client{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.testimonial-description{
  margin-bottom: var(--mb-2-5);
}
.testimonial-icon-star{
  color: var(--first-color);
}
.mySwiper .swiper-pagination-testimonial{
  bottom: 0;
}

/*==================== CONTACT ME ====================*/
.contact-container{
  row-gap: 3rem;
}
.contact-info{
  display: flex;
  margin-bottom: var(--mb-2);
}
.contact-icon{
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
  cursor: pointer;
}
.contact-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.contact-subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.contact-content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}
.contact-label{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}
.contact-input{
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}
/*==================== FOOTER ====================*/
.footer{
   padding-top: 2rem;
}
.footer-container{
  row-gap: 3.5rem;
}
.footer-bg{
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}
.footer-title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}
.footer-subtitle{
  font-size: var(--small-font-size);
}
.footer-links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.footerlink:hover{
  color: var(--first-color-lighter);
}
.footer-social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}
.footer-social:hover{
  color: var(--first-color-lighter);
}
.footer-copy{
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color);
  margin-top: var(--mb-3);
}
.footer-title,
.footer-subtitle,
.footer-links,
.footer-social{
  color: #fff;
}
/*========== SCROLL UP ==========*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}
.scrollup:hover{
  background-color: var(--first-color-alt);
}
.scrollup-icon{
  font-size: 1.5rem;
  color: #fff;
}
/* Show scroll */
.show-scroll{
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
  width: .60rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--text-color-light);
}
/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav_menu{
    padding: 2rem .25rem 4rem;
    
  }
  .nav-list{
    column-gap: .5;
    justify-content: center;
    align-items: center;
    
  }
  .home_content{
    grid-template-columns: .25fr 3fr;
  }
  .home_blob{
    width: 180px;
  }
  .skills-title{
    font-size: var(--normal-font-size);
  }
  .services-container{
    grid-template-columns: max-content;
    justify-content: center;
  }
  .services-content{
    padding-right: 3.5rem;
  }
  .services-modal{
    padding: 0 .5rem;
  }
  .project-img{
    width: 200px;
  }
  .testimonial-data,
  .testimonial-header{
    flex-direction: column;
    align-items: center;
  }
  .testimonial-img{
    margin-right: 0;
    margin-bottom: var(--mb-0-25);
  }
  .testimonial-data,
  .testimonial-description{
    text-align: center;
  }
}

/* For medium devices */
@media screen and (min-width: 568px){
  .home_content{
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    
  }
  .home_data{
    grid-column: initial;
  }
  .home_blob-img{
    order: 1;
    justify-self: center;
  }
  .about_container,
  .skills_container,
  .portfolio-content,
  .portfolio-container,
  .contact-container,
  .footer-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .qualification_section{
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }
}
@media screen and (min-width: 768px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }
  body{
    margin: 0;
  }
  .section{
    padding: 6rem 0 2rem;
  }
  .section__subtitle{
    margin-bottom: 4rem;
  }
  .header{
    top: 0;
    bottom: initial;
    overflow: hidden;
  }
  .header,
  .main,
  .footer-container{
    padding: 0 1rem;
  }

  .nav{
    height: calc(var(--header-height) +1.5rem);
    column-gap: 1rem;
    padding: 10px;
  }

  .nav-icon,
  .nav-toggle,
  .nav_close{
    display: none;
  }

  .nav-list{
    display: flex;
    column-gap: 2rem;
  }
  .nav_menu{
    margin-left: auto;
  }
  .change-theme{
    margin: 0;
  }
  .home_container{
    row-gap: 5rem;
  }
  .home_content{
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home_blob{
    width: 270px;
  }
  .home_scroll{
    display: block;
  }
  .home_scroll-button{
    margin-left: 3rem;
  }
  .about_container{
    column-gap: 5rem;
  }
  .about-img{
    width: 350px;
  }
  .about_description{
    text-align: initial;
  }
  .about-info{
    justify-content: space-between;
  }
  .about-buttons{
    justify-content: initial;
  }
  .qulification-tabs{
    justify-content: center;
  }
  .qulification-button{
    margin: 0 var(--mb-1);
  }

  .services-container{
    grid-template-columns: repeat(3, 218px);
    justify-content: center;
  }

  .services-icon{
    font-size: 2rem;
  }
  .services-content{
    padding: 6rem 0 2rem 2.5rem;
  }

  .services-modal-content{
    width: 450px;
  }
  .porfolio-img{
    width: 320px;
  }
  .portfolio-content{
    align-items: center;
  }
  .project{
    text-align: initial;
  }
  .project-bg{
    background: none;
  }
  .project-container{
    background-color: var(--first-color-second);
    border-radius: 1rem;
    padding: 3rem 2.5rem 2rem;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem;
  }
  .project-data{
    padding-top: .8rem;
  }
  .footer-container{
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-bg{
    padding: 3rem 0 3.5rem;
  }
  .footer-links{
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer-socials{
    justify-self: flex-end;
  }
  .footer-copy{
    margin-top: 4.5rem;
  }
}


/* For large devices */
@media screen and (min-width: 1024px){
   .header,
   .main,
   .footer-container{
    padding: 0;
   }
  .home_blob{
    width: 350px;
  }
  .home_data{
    width: 550px;
  }
  .home_social{
    transform: translateX(-8rem);
    
  }
  #info-flex{
    display: flex;
    margin-bottom: var(--mb-2);
  }
  .services-container{
    grid-template-columns: repeat(3, 350px);
  }
  .portfolio-content{
    column-gap: 5rem;
  }
  .swiper-button-next{
    right: -4rem;
  }
  .swiper-button-prev{
    left: -4rem;
  }
  .swiper-pagination-bullets{
    display: none;
  }
  .swiper-portfolio-icon{
    font-size: 3.5rem;
  }
}